# Laravel
/public/storage
/storage/*.key
.env
.env.*.local
.phpunit.result.cache
Homestead.yaml
Homestead.json
/.vagrant
/.idea
/.phpunit.cache

# Logs
/storage/logs
*.log

# Cache
bootstrap/cache/*
!bootstrap/cache/.gitignore

# Composer
composer.lock

# Node
npm-debug.log
yarn-error.log
pnpm-debug.log

# VSCode / IDEs
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
